<!-- in views/links/add.erb -->
<h1> Add a new Link </h1>

<form action="/links" method="post">
Please enter the title: <input type="text" name="title_input" /><br />
Please enter the URL: <input type="text" name="url_input" /><br />

Please add a tag: <input type="text" name="tag_input" /><br />
  <input type="submit" value="Submit!" />
</form>
