<h1> Links with Bubbles</h1>

<ul id='links'>


  <% @link.each do |link| %>
    <li>
      <% if link.tags[0].title == 'Bubbles'%> 
        <b>Title: </b> <%= link.title %>
        <b>URL: </b><a href="<%= link.url%>"><%=link.url%></a>
        <b>Tags: </b><%= link.tags[0].title %>
      <% end %>
    </li>
  <% end %>
</ul>
