<!-- in views/links/index.erb -->
<h1> Links </h1>

<ul id='links'>
  <% @link.each do |link| %>
    <li>
      <b>Title:</b> <%= link.title %>
      <b>URL:</b><a href="<%=link.url%>">link.url</a>
      <b>Tags:</b><%= link.tags[0].title %>
    </li>
  <% end %>
</ul>
